/*csslint ids: false, box-model: false*/

/************************
General
************************/

body {
  background-image: url(https://33.media.tumblr.com/bcf196654e236e37543014e901330c32/tumblr_nbjdcgvVXq1rv6iido1_500.gif);
  background-size: cover;
  font-family: 'Trade Winds', cursive;
  
}

#wrapper {
  align-content: center;
  /*Margin 0 is for all sides.*/
  margin: 0 auto;
  /*Max width is related to width, but max-width can be smaller for mobile devices/tablets.*/
  max-width: 840px;
  /*The first value is for top and bottom. The second value is for left and right.*/
  padding: 0 5%;
  text-align: center;
}

a {
  text-decoration: none;
}

a img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
  color: orangered;
}


/************************
Header
************************/

header {
  background-image: url('../img/Challenge.gif');
  background-size: contain;
  border-bottom: 5px groove yellow;
  float: left;
  margin: 0 0 60px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  margin: 0;
  /*Our name and description of who we are*/
  text-align: center; 
}

h1 {
  color: lightgreen;
  font-family: 'Trade Winds', cursive;
  font-size: 2.5em;
  margin: 15px 0;
  padding-left: 50px;
}

h2 {
  color: greenyellow;
  font-family: 'Trade Winds', cursive;
  font-size: 0.825em;
  font-weight: normal;
  /*First value for the top. Second for the sides. Third for the bottom.*/
  margin: -5px 0 20px;
  padding-left: 50px;
}


/************************
Navigation
************************/

nav {
  margin: 20px 0 0;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 10px 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 30px;
}

/************************
Footer
************************/

footer {
  clear: both;
  color: #ccc;
  font-size: 0.75em;
  padding-top: 50px;
}

.social-media-icon {
  height: 20px;
  padding: 0 5px;
  width: 20px;
}


/************************
Page Portfolio
************************/

#gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

#gallery li {
  background-color: lightblue;
  border-bottom-color: lightgreen;
  border-left-color: red;
  border-right-color: lightgreen;
  border-style: groove;
  border-top-color: red;
  color: white;
  float: left;
  margin: 2%;
  width: 45%;
}

.paragraph {
  font-size: 0.75em;
  margin: 0;
  padding: 5%;
}


/************************
About Me Page
************************/

.profile-photo {
  border-radius: 25%;
  display: block;
  float: left;
  max-width: 840px;
  padding: 20px;
}


/************************
Contact Page
************************/

.contact-info {
  font-size: 0.9em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-info a {
  /*By default, the background will always repeat.*/
  background-repeat: no-repeat;
  /*Resize background image.*/
  background-size: 20px 20px;
  display: block;
  margin: 0 0 10px;
  min-height: 20px;
  padding: 0 0 30px;
}

.contact-info .email a {
  background-image: url('../img/gmail.png');
}

.contact-info .twitter a {
  background-image: url('../img/twitter.png');
}


/************************
Color
************************/

body {
  background-color: white;
  color: gray;
}

a {
  color: royalblue;
}

header {
  background-color: #0A0AFF;
}

nav {
  background-color: #5E5EFF;
}

p {
  color: dodgerblue;
}


/*Pseudo-class*/

nav a,
nav a:visited {
  color: lawngreen;
}

nav .selected,
nav a:hover {
  color: slateblue;
}


/************************
Media Querie
************************/


/*Two Column Layout*/

@media screen and (min-width: 480px) {
  #primary {
    float: left;
    width: 50%; 
  }
  
  #secondary {
    float: right;
    width: 40%; 
  }
  
  /*Three Column Layout Portfolio*/
  
  #gallery li {
    width: 28.3333%;
  }
  
  #gallery li:nth-child(4n) {
    clear: left;
  }
  
  /*About Page*/
  
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
}

@media screen and (min-width: 660px) {
  /*Nav*/
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
}